.App {
  text-align: center;
  padding: 20px;
  font-family: 'Swiss721BT', sans-serif;
  background-color: #ffffff;
  color: #000000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #003c58;
  color: white;
  margin-bottom: 10px;
}

.App-header h1 {
  font-size: 24px;
  margin: 0;
}

body {
  font-family: 'Swiss721BT', sans-serif;
}

.ultima-actualizacion {
  font-size: 14px;
}

.contenedor-botones {
  display: flex;
  float: left;
  justify-content: flex-start;
  gap: 10px;
}

.p-button.p-button-sm {
  padding: 0.4rem 0.6rem;
}

.p-button.p-button-info {
  margin-right: 10px;
  background-color: #00427a;
  color: white;
  border: none;
}

.p-button.p-button-info:enabled:hover {
  background-color: #003366;
}

.p-button.p-button-warning {
  background-color: #f1c40f;
  color: black;
  border: none;
}

.p-button.p-button-warning:hover {
  background-color: #d4ac0d;
}

.p-button.p-button-danger {
  background-color: white;
  border: 1px solid #000000;
  color: black;
}

.p-button.p-button-danger:enabled:hover {
  background-color: #dddddd;
  border-color: #000000;
}

.p-datatable .p-datatable-thead > tr > th {
  font-weight: normal;
  background-color: #f1f1f1;
}

.p-dropdown {
  background-color: #f9f9f9 !important;
}

.p-dropdown-panel {
  background-color: #f9f9f9;
}

.p-dropdown-item {
  transition: background-color 0.2s ease;
}

.p-dropdown-item:hover {
  background-color: #e6e6e6;
}


.p-datatable,
.p-dataview {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}


table, .p-datatable, .p-datatable .p-column-header, .p-datatable .p-cell {
  font-family: 'Swiss721BT', sans-serif;
  font-weight: 400;
}

.App-header {
  display: none;
}

.App-link {
  color: #00427a;
}
