.App {
  text-align: center;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #000000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #003c58; /* Azul institucional UV */
  color: white;
  margin-bottom: 10px;
}

.App-header h1 {
  font-size: 24px;
  margin: 0;
}

.ultima-actualizacion {
  font-size: 14px;
}

.contenedor-botones {
  display: flex;
  float: left;
  justify-content: flex-start;
  gap: 10px;
}

.p-button.p-button-sm {
  padding: 0.4rem 0.6rem;
}

/* Botones azules UV */
.p-button.p-button-info {
  margin-right: 10px;
  background-color: #00427a;
  color: white;
  border: none;
}

.p-button.p-button-info:enabled:hover {
  background-color: #003366;
}

/* Botón de advertencia (mostaza) */
.p-button.p-button-warning {
  background-color: #f1c40f;
  color: black;
  border: none;
}

.p-button.p-button-warning:hover {
  background-color: #d4ac0d;
}

/* Botón de peligro */
.p-button.p-button-danger {
  background-color: white;
  border: 1px solid #000000;
  color: black;
}

.p-button.p-button-danger:enabled:hover {
  background-color: #dddddd;
  border-color: #000000;
}

/* Contenedor superior (dropdowns + buscador) */
.contenedor-dropdowns-buscador {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  gap: 5%;
}

.contenedor-dropdowns,
.contenedor-buscador {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Carga de archivos */
.upload-container {
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

/* Tabla */
.p-datatable .p-datatable-thead > tr > th {
  font-weight: normal;
  background-color: #f1f1f1;
}

/* Dropdowns con fondo neutro */
.p-dropdown {
  background-color: #f9f9f9 !important;
}

.p-dropdown-panel {
  background-color: #f9f9f9;
}

.p-dropdown-item {
  transition: background-color 0.2s ease;
}

.p-dropdown-item:hover {
  background-color: #e6e6e6;
}

/* Celdas de estado */
.celda-estado {
  padding: 0.5rem;
  border-radius: 4px;
  text-align: center;
}

.estado-aprobado {
  background-color: #d4edda; /* verde suave */
}

.estado-reprobado {
  background-color: #f8d7da; /* rojo suave */
}

.estado-cursando {
  background-color: #fff3cd; /* amarillo suave */
}

.estado-pendiente {
  background-color: #d1ecf1; /* celeste suave */
}

.p-datatable,
.p-dataview {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
  margin-bottom: 4px;
  white-space: normal;
}

.p-multiselect.p-multiselect-chip .p-multiselect-items-container {
  flex-wrap: wrap !important;
}

.p-multiselect.p-multiselect-chip {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.App-header {
  display: none;
}

.App-link {
  color: #00427a;
}
